body {
  margin: 0;
  padding: 0;
  background-image: url('./img/pxfuel\ \(2\).jpg');
  background-size: cover;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.login, .linkLogin {
  font-size: 36px;
  color: #007bff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.inputLogin {
  width: 50%;
  margin: 1%;
  padding: 10px 15px;
  font-size: 16px;
  color: #333;
  border: 1px solid #007bff;
  border-radius: 5px;
}

.buttonLogin:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  box-shadow: none;
}

.buttonLogin {
  text-transform: uppercase;
  margin-top: 5%;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buttonLogin:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.linkLogin {
  margin-top: 5%;
  font-size: 15px;
  text-decoration: none;
}
